# Serveur
NODE_ENV=development
PORT=3000

# Base de données PostgreSQL
DATABASE_URL="postgresql://USER:PASSWORD@localhost:5432/aeronexis_db"

# JWT
JWT_SECRET=your_secret_key_here
JWT_EXPIRES_IN=8h

# Frontend URL
FRONTEND_URL=http://localhost:5173